DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_URL=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=