# Core
Django
djangorestframework

# Authentication
djangorestframework-simplejwt
dj-rest-auth
django-allauth

# Database
psycopg2-binary
# django-db-connection-pool[postgresql]
# django-db-connection-pool
# psycopg2-binary
# django-db-connection-pool
# django-db-connection-pool[postgresql]
# django-db-connection-pool-psycopg2==1.2.5

# Cache & Async
redis
django-redis
celery
django-celery-beat

# Storage
cloudinary
django-cloudinary-storage
django-storages

# API
drf-spectacular
django-cors-headers
django-filter

# Utils
python-decouple
Pillow
django-extensions
cryptography

# Seed data
Faker

# Server
gunicorn
uvicorn[standard]

# Dev
pytest-django
factory-boy
